[submodule "magic-context"]
	path = magic-context
	url = git@github.com:igamenovoer/magic-context.git
	branch = main
[submodule "context/refcode/thicket"]
	path = context/refcode/thicket
	url = https://github.com/LLNL/thicket.git
[submodule "extern/modelmeter"]
	path = extern/modelmeter
	url = git@codeup.aliyun.com:61adcb80e05da4a409ab67b8/intellif/modelmeter.git
	branch = hz-dev
