[submodule "magic-context"]
	path = magic-context
	url = https://github.com/igamenovoer/magic-context.git
	branch = main
[submodule "extern/modelmeter"]
	path = extern/modelmeter
	url = git@codeup.aliyun.com:61adcb80e05da4a409ab67b8/intellif/modelmeter.git
	branch = hz-dev
